:{$PORT:8080} {
    log {
        output stdout
    }

    route {
        # Health check
        handle /ping {
            respond "OK" 200
        }

        # Main site
        handle {
            root * /srv/mjw
            encode gzip zstd
            header X-Frame-Options "SAMEORIGIN"
            header X-Content-Type-Options "nosniff"
            
            try_files {path} {path}.html {path}/ =404
            file_server
        }
    }
}
